<html>

<body style="color: red; background-color: rgb(243, 168, 98);">

    <!--
    {% if ksywa %}
        <h2>Twoja {{ ksywa }} </h2>
    {% endif %}
    -->
    <div>
        <form action="#" method="post">
            <input type="text" name="Zadanie" />
            <input type="submit" value="Dodaj zadanie">
        </form>
    </div>
    <div>
        <form action="#" method="post">
            <input type="text" name="ID" />
            <input type="submit" value="Usun zadanie">
        </form>
    </div>
    <Ul style="color: rgb(35, 160, 24)">
        <!--<li>ziom: {{ ksywa }}</li>-->
        
       {% for index, element in zm %}
         <li>{{index}}  {{element}}</li>
       {% endfor %}
    </ul>

    <div>
        <!-- <a href='/lista1'>lista1</a>
        <a href='/lista2'>lista2</a>
        <a href='/lista3'>lista3</a> -->
        {% for x in ll %}
        <a href='{{x}}'>{{x}}</a>
        {% endfor %}
    </div>
</body>
</html>