<html>

<body style="color: red; background-color: rgb(243, 168, 98);">

    <!--
    {% if ksywa %}
        <h2>Twoja {{ ksywa }} </h2>
    {% endif %}
    -->
    <div>
        <form action="#" method="post">
            <input type="text" name="Zadanie" />
            <input type="submit" value="Dodaj zadanie">
        </form>
    </div>
    <div>
        <form action="#" method="post">
            <input type="text" name="ID" />
            <input type="submit" value="Usun zadanie">
        </form>
    </div>
    <!-- <Ul style="color: rgb(35, 160, 24)">

        
       {% for index, element in zm %}
         <li>{{index}}  {{element}}</li>
       {% endfor %}
    </ul> -->

    <Ul style="color: rgb(53, 24, 160)">
        <!--<li>ziom: {{ ksywa }}</li>-->
        
       {% for index, element in zm_db %}
         <li>{{index}} {{element}}</li>
       {% endfor %}
    </ul>


    <div>
        to nie działa narazie
        {% for x in ll %}
        <a href='{{x}}'>{{x}}</a>
        {% endfor %}
    </div>
</body>
</html>