<html>

<body style="color: red; background-color: rgb(243, 168, 98);">

    <!--
    {% if ksywa %}
        <h2>Twoja {{ ksywa }} </h2>
    {% endif %}
    -->
    <div>
        <form action="#" method="post">
            <input type="text" name="Zadanie" />
            <input type="submit" value="Dodaj zadanie">
        </form>
    </div>
    <div>
        <form action="#" method="post">
            <input type="text" name="ID" />
            <input type="submit" value="Usun zadanie">
        </form>
    </div>
    <div>
        <form action="#" method="post">
            <input type="text" name="nazwa_listy" />
            <input type="submit" value="Stwórz nową listę zadań">
            <select name="select">
                {% for element in zm2_db %}
                <option>{{element}}</option>
                {% endfor %}
        </select>
        <input type="submit" value="Wybierz listę">
        </form>
    </div>

    <ul style="color: rgb(53, 24, 160)">
        <!--<li>ziom: {{ ksywa }}</li>-->
        
       {% for element in zm_db %}
         <li>{{element}}</li>
       {% endfor %}
    </ul>
    
    <!-- <ul style="color: rgb(24, 160, 42)">          
           {% for element in zm2_db %}
             <li>{{element}}</li>
           {% endfor %}
    </ul> -->

    {{zm3}}



</body>
</html>